:root {
    --background-10: color-mix(in srgb, var(--background) 10%, transparent);
    --background-20: color-mix(in srgb, var(--background) 20%, transparent);
    --background-30: color-mix(in srgb, var(--background) 30%, transparent);
    --background-40: color-mix(in srgb, var(--background) 40%, transparent);
    --background-50: color-mix(in srgb, var(--background) 50%, transparent);
    --background-60: color-mix(in srgb, var(--background) 60%, transparent);
    --background-70: color-mix(in srgb, var(--background) 70%, transparent);
    --background-80: color-mix(in srgb, var(--background) 80%, transparent);
    --background-90: color-mix(in srgb, var(--background) 90%, transparent);
    --foreground-10: color-mix(in srgb, var(--foreground) 10%, transparent);
    --foreground-20: color-mix(in srgb, var(--foreground) 20%, transparent);
    --foreground-30: color-mix(in srgb, var(--foreground) 30%, transparent);
    --foreground-40: color-mix(in srgb, var(--foreground) 40%, transparent);
    --foreground-50: color-mix(in srgb, var(--foreground) 50%, transparent);
    --foreground-60: color-mix(in srgb, var(--foreground) 60%, transparent);
    --foreground-70: color-mix(in srgb, var(--foreground) 70%, transparent);
    --foreground-80: color-mix(in srgb, var(--foreground) 80%, transparent);
    --foreground-90: color-mix(in srgb, var(--foreground) 90%, transparent);
    --card-10: color-mix(in srgb, var(--card) 10%, transparent);
    --card-20: color-mix(in srgb, var(--card) 20%, transparent);
    --card-30: color-mix(in srgb, var(--card) 30%, transparent);
    --card-40: color-mix(in srgb, var(--card) 40%, transparent);
    --card-50: color-mix(in srgb, var(--card) 50%, transparent);
    --card-60: color-mix(in srgb, var(--card) 60%, transparent);
    --card-70: color-mix(in srgb, var(--card) 70%, transparent);
    --card-80: color-mix(in srgb, var(--card) 80%, transparent);
    --card-90: color-mix(in srgb, var(--card) 90%, transparent);
    --card-foreground-10: color-mix(in srgb, var(--card-foreground) 10%, transparent);
    --card-foreground-20: color-mix(in srgb, var(--card-foreground) 20%, transparent);
    --card-foreground-30: color-mix(in srgb, var(--card-foreground) 30%, transparent);
    --card-foreground-40: color-mix(in srgb, var(--card-foreground) 40%, transparent);
    --card-foreground-50: color-mix(in srgb, var(--card-foreground) 50%, transparent);
    --card-foreground-60: color-mix(in srgb, var(--card-foreground) 60%, transparent);
    --card-foreground-70: color-mix(in srgb, var(--card-foreground) 70%, transparent);
    --card-foreground-80: color-mix(in srgb, var(--card-foreground) 80%, transparent);
    --card-foreground-90: color-mix(in srgb, var(--card-foreground) 90%, transparent);
    --popover-10: color-mix(in srgb, var(--popover) 10%, transparent);
    --popover-20: color-mix(in srgb, var(--popover) 20%, transparent);
    --popover-30: color-mix(in srgb, var(--popover) 30%, transparent);
    --popover-40: color-mix(in srgb, var(--popover) 40%, transparent);
    --popover-50: color-mix(in srgb, var(--popover) 50%, transparent);
    --popover-60: color-mix(in srgb, var(--popover) 60%, transparent);
    --popover-70: color-mix(in srgb, var(--popover) 70%, transparent);
    --popover-80: color-mix(in srgb, var(--popover) 80%, transparent);
    --popover-90: color-mix(in srgb, var(--popover) 90%, transparent);
    --popover-foreground-10: color-mix(in srgb, var(--popover-foreground) 10%, transparent);
    --popover-foreground-20: color-mix(in srgb, var(--popover-foreground) 20%, transparent);
    --popover-foreground-30: color-mix(in srgb, var(--popover-foreground) 30%, transparent);
    --popover-foreground-40: color-mix(in srgb, var(--popover-foreground) 40%, transparent);
    --popover-foreground-50: color-mix(in srgb, var(--popover-foreground) 50%, transparent);
    --popover-foreground-60: color-mix(in srgb, var(--popover-foreground) 60%, transparent);
    --popover-foreground-70: color-mix(in srgb, var(--popover-foreground) 70%, transparent);
    --popover-foreground-80: color-mix(in srgb, var(--popover-foreground) 80%, transparent);
    --popover-foreground-90: color-mix(in srgb, var(--popover-foreground) 90%, transparent);
    --primary-10: color-mix(in srgb, var(--primary) 10%, transparent);
    --primary-20: color-mix(in srgb, var(--primary) 20%, transparent);
    --primary-30: color-mix(in srgb, var(--primary) 30%, transparent);
    --primary-40: color-mix(in srgb, var(--primary) 40%, transparent);
    --primary-50: color-mix(in srgb, var(--primary) 50%, transparent);
    --primary-60: color-mix(in srgb, var(--primary) 60%, transparent);
    --primary-70: color-mix(in srgb, var(--primary) 70%, transparent);
    --primary-80: color-mix(in srgb, var(--primary) 80%, transparent);
    --primary-90: color-mix(in srgb, var(--primary) 90%, transparent);
    --primary-foreground-10: color-mix(in srgb, var(--primary-foreground) 10%, transparent);
    --primary-foreground-20: color-mix(in srgb, var(--primary-foreground) 20%, transparent);
    --primary-foreground-30: color-mix(in srgb, var(--primary-foreground) 30%, transparent);
    --primary-foreground-40: color-mix(in srgb, var(--primary-foreground) 40%, transparent);
    --primary-foreground-50: color-mix(in srgb, var(--primary-foreground) 50%, transparent);
    --primary-foreground-60: color-mix(in srgb, var(--primary-foreground) 60%, transparent);
    --primary-foreground-70: color-mix(in srgb, var(--primary-foreground) 70%, transparent);
    --primary-foreground-80: color-mix(in srgb, var(--primary-foreground) 80%, transparent);
    --primary-foreground-90: color-mix(in srgb, var(--primary-foreground) 90%, transparent);
    --secondary-10: color-mix(in srgb, var(--secondary) 10%, transparent);
    --secondary-20: color-mix(in srgb, var(--secondary) 20%, transparent);
    --secondary-30: color-mix(in srgb, var(--secondary) 30%, transparent);
    --secondary-40: color-mix(in srgb, var(--secondary) 40%, transparent);
    --secondary-50: color-mix(in srgb, var(--secondary) 50%, transparent);
    --secondary-60: color-mix(in srgb, var(--secondary) 60%, transparent);
    --secondary-70: color-mix(in srgb, var(--secondary) 70%, transparent);
    --secondary-80: color-mix(in srgb, var(--secondary) 80%, transparent);
    --secondary-90: color-mix(in srgb, var(--secondary) 90%, transparent);
    --secondary-foreground-10: color-mix(in srgb, var(--secondary-foreground) 10%, transparent);
    --secondary-foreground-20: color-mix(in srgb, var(--secondary-foreground) 20%, transparent);
    --secondary-foreground-30: color-mix(in srgb, var(--secondary-foreground) 30%, transparent);
    --secondary-foreground-40: color-mix(in srgb, var(--secondary-foreground) 40%, transparent);
    --secondary-foreground-50: color-mix(in srgb, var(--secondary-foreground) 50%, transparent);
    --secondary-foreground-60: color-mix(in srgb, var(--secondary-foreground) 60%, transparent);
    --secondary-foreground-70: color-mix(in srgb, var(--secondary-foreground) 70%, transparent);
    --secondary-foreground-80: color-mix(in srgb, var(--secondary-foreground) 80%, transparent);
    --secondary-foreground-90: color-mix(in srgb, var(--secondary-foreground) 90%, transparent);
    --muted-10: color-mix(in srgb, var(--muted) 10%, transparent);
    --muted-20: color-mix(in srgb, var(--muted) 20%, transparent);
    --muted-30: color-mix(in srgb, var(--muted) 30%, transparent);
    --muted-40: color-mix(in srgb, var(--muted) 40%, transparent);
    --muted-50: color-mix(in srgb, var(--muted) 50%, transparent);
    --muted-60: color-mix(in srgb, var(--muted) 60%, transparent);
    --muted-70: color-mix(in srgb, var(--muted) 70%, transparent);
    --muted-80: color-mix(in srgb, var(--muted) 80%, transparent);
    --muted-90: color-mix(in srgb, var(--muted) 90%, transparent);
    --muted-foreground-10: color-mix(in srgb, var(--muted-foreground) 10%, transparent);
    --muted-foreground-20: color-mix(in srgb, var(--muted-foreground) 20%, transparent);
    --muted-foreground-30: color-mix(in srgb, var(--muted-foreground) 30%, transparent);
    --muted-foreground-40: color-mix(in srgb, var(--muted-foreground) 40%, transparent);
    --muted-foreground-50: color-mix(in srgb, var(--muted-foreground) 50%, transparent);
    --muted-foreground-60: color-mix(in srgb, var(--muted-foreground) 60%, transparent);
    --muted-foreground-70: color-mix(in srgb, var(--muted-foreground) 70%, transparent);
    --muted-foreground-80: color-mix(in srgb, var(--muted-foreground) 80%, transparent);
    --muted-foreground-90: color-mix(in srgb, var(--muted-foreground) 90%, transparent);
    --accent-10: color-mix(in srgb, var(--accent) 10%, transparent);
    --accent-20: color-mix(in srgb, var(--accent) 20%, transparent);
    --accent-30: color-mix(in srgb, var(--accent) 30%, transparent);
    --accent-40: color-mix(in srgb, var(--accent) 40%, transparent);
    --accent-50: color-mix(in srgb, var(--accent) 50%, transparent);
    --accent-60: color-mix(in srgb, var(--accent) 60%, transparent);
    --accent-70: color-mix(in srgb, var(--accent) 70%, transparent);
    --accent-80: color-mix(in srgb, var(--accent) 80%, transparent);
    --accent-90: color-mix(in srgb, var(--accent) 90%, transparent);
    --accent-foreground-10: color-mix(in srgb, var(--accent-foreground) 10%, transparent);
    --accent-foreground-20: color-mix(in srgb, var(--accent-foreground) 20%, transparent);
    --accent-foreground-30: color-mix(in srgb, var(--accent-foreground) 30%, transparent);
    --accent-foreground-40: color-mix(in srgb, var(--accent-foreground) 40%, transparent);
    --accent-foreground-50: color-mix(in srgb, var(--accent-foreground) 50%, transparent);
    --accent-foreground-60: color-mix(in srgb, var(--accent-foreground) 60%, transparent);
    --accent-foreground-70: color-mix(in srgb, var(--accent-foreground) 70%, transparent);
    --accent-foreground-80: color-mix(in srgb, var(--accent-foreground) 80%, transparent);
    --accent-foreground-90: color-mix(in srgb, var(--accent-foreground) 90%, transparent);
    --destructive-10: color-mix(in srgb, var(--destructive) 10%, transparent);
    --destructive-20: color-mix(in srgb, var(--destructive) 20%, transparent);
    --destructive-30: color-mix(in srgb, var(--destructive) 30%, transparent);
    --destructive-40: color-mix(in srgb, var(--destructive) 40%, transparent);
    --destructive-50: color-mix(in srgb, var(--destructive) 50%, transparent);
    --destructive-60: color-mix(in srgb, var(--destructive) 60%, transparent);
    --destructive-70: color-mix(in srgb, var(--destructive) 70%, transparent);
    --destructive-80: color-mix(in srgb, var(--destructive) 80%, transparent);
    --destructive-90: color-mix(in srgb, var(--destructive) 90%, transparent);
    --border-10: color-mix(in srgb, var(--border) 10%, transparent);
    --border-20: color-mix(in srgb, var(--border) 20%, transparent);
    --border-30: color-mix(in srgb, var(--border) 30%, transparent);
    --border-40: color-mix(in srgb, var(--border) 40%, transparent);
    --border-50: color-mix(in srgb, var(--border) 50%, transparent);
    --border-60: color-mix(in srgb, var(--border) 60%, transparent);
    --border-70: color-mix(in srgb, var(--border) 70%, transparent);
    --border-80: color-mix(in srgb, var(--border) 80%, transparent);
    --border-90: color-mix(in srgb, var(--border) 90%, transparent);
    --input-10: color-mix(in srgb, var(--input) 10%, transparent);
    --input-20: color-mix(in srgb, var(--input) 20%, transparent);
    --input-30: color-mix(in srgb, var(--input) 30%, transparent);
    --input-40: color-mix(in srgb, var(--input) 40%, transparent);
    --input-50: color-mix(in srgb, var(--input) 50%, transparent);
    --input-60: color-mix(in srgb, var(--input) 60%, transparent);
    --input-70: color-mix(in srgb, var(--input) 70%, transparent);
    --input-80: color-mix(in srgb, var(--input) 80%, transparent);
    --input-90: color-mix(in srgb, var(--input) 90%, transparent);
    --ring-10: color-mix(in srgb, var(--ring) 10%, transparent);
    --ring-20: color-mix(in srgb, var(--ring) 20%, transparent);
    --ring-30: color-mix(in srgb, var(--ring) 30%, transparent);
    --ring-40: color-mix(in srgb, var(--ring) 40%, transparent);
    --ring-50: color-mix(in srgb, var(--ring) 50%, transparent);
    --ring-60: color-mix(in srgb, var(--ring) 60%, transparent);
    --ring-70: color-mix(in srgb, var(--ring) 70%, transparent);
    --ring-80: color-mix(in srgb, var(--ring) 80%, transparent);
    --ring-90: color-mix(in srgb, var(--ring) 90%, transparent);
    --chart-1-10: color-mix(in srgb, var(--chart-1) 10%, transparent);
    --chart-1-20: color-mix(in srgb, var(--chart-1) 20%, transparent);
    --chart-1-30: color-mix(in srgb, var(--chart-1) 30%, transparent);
    --chart-1-40: color-mix(in srgb, var(--chart-1) 40%, transparent);
    --chart-1-50: color-mix(in srgb, var(--chart-1) 50%, transparent);
    --chart-1-60: color-mix(in srgb, var(--chart-1) 60%, transparent);
    --chart-1-70: color-mix(in srgb, var(--chart-1) 70%, transparent);
    --chart-1-80: color-mix(in srgb, var(--chart-1) 80%, transparent);
    --chart-1-90: color-mix(in srgb, var(--chart-1) 90%, transparent);
    --chart-2-10: color-mix(in srgb, var(--chart-2) 10%, transparent);
    --chart-2-20: color-mix(in srgb, var(--chart-2) 20%, transparent);
    --chart-2-30: color-mix(in srgb, var(--chart-2) 30%, transparent);
    --chart-2-40: color-mix(in srgb, var(--chart-2) 40%, transparent);
    --chart-2-50: color-mix(in srgb, var(--chart-2) 50%, transparent);
    --chart-2-60: color-mix(in srgb, var(--chart-2) 60%, transparent);
    --chart-2-70: color-mix(in srgb, var(--chart-2) 70%, transparent);
    --chart-2-80: color-mix(in srgb, var(--chart-2) 80%, transparent);
    --chart-2-90: color-mix(in srgb, var(--chart-2) 90%, transparent);
    --chart-3-10: color-mix(in srgb, var(--chart-3) 10%, transparent);
    --chart-3-20: color-mix(in srgb, var(--chart-3) 20%, transparent);
    --chart-3-30: color-mix(in srgb, var(--chart-3) 30%, transparent);
    --chart-3-40: color-mix(in srgb, var(--chart-3) 40%, transparent);
    --chart-3-50: color-mix(in srgb, var(--chart-3) 50%, transparent);
    --chart-3-60: color-mix(in srgb, var(--chart-3) 60%, transparent);
    --chart-3-70: color-mix(in srgb, var(--chart-3) 70%, transparent);
    --chart-3-80: color-mix(in srgb, var(--chart-3) 80%, transparent);
    --chart-3-90: color-mix(in srgb, var(--chart-3) 90%, transparent);
    --chart-4-10: color-mix(in srgb, var(--chart-4) 10%, transparent);
    --chart-4-20: color-mix(in srgb, var(--chart-4) 20%, transparent);
    --chart-4-30: color-mix(in srgb, var(--chart-4) 30%, transparent);
    --chart-4-40: color-mix(in srgb, var(--chart-4) 40%, transparent);
    --chart-4-50: color-mix(in srgb, var(--chart-4) 50%, transparent);
    --chart-4-60: color-mix(in srgb, var(--chart-4) 60%, transparent);
    --chart-4-70: color-mix(in srgb, var(--chart-4) 70%, transparent);
    --chart-4-80: color-mix(in srgb, var(--chart-4) 80%, transparent);
    --chart-4-90: color-mix(in srgb, var(--chart-4) 90%, transparent);
    --chart-5-10: color-mix(in srgb, var(--chart-5) 10%, transparent);
    --chart-5-20: color-mix(in srgb, var(--chart-5) 20%, transparent);
    --chart-5-30: color-mix(in srgb, var(--chart-5) 30%, transparent);
    --chart-5-40: color-mix(in srgb, var(--chart-5) 40%, transparent);
    --chart-5-50: color-mix(in srgb, var(--chart-5) 50%, transparent);
    --chart-5-60: color-mix(in srgb, var(--chart-5) 60%, transparent);
    --chart-5-70: color-mix(in srgb, var(--chart-5) 70%, transparent);
    --chart-5-80: color-mix(in srgb, var(--chart-5) 80%, transparent);
    --chart-5-90: color-mix(in srgb, var(--chart-5) 90%, transparent);
    --sidebar-10: color-mix(in srgb, var(--sidebar) 10%, transparent);
    --sidebar-20: color-mix(in srgb, var(--sidebar) 20%, transparent);
    --sidebar-30: color-mix(in srgb, var(--sidebar) 30%, transparent);
    --sidebar-40: color-mix(in srgb, var(--sidebar) 40%, transparent);
    --sidebar-50: color-mix(in srgb, var(--sidebar) 50%, transparent);
    --sidebar-60: color-mix(in srgb, var(--sidebar) 60%, transparent);
    --sidebar-70: color-mix(in srgb, var(--sidebar) 70%, transparent);
    --sidebar-80: color-mix(in srgb, var(--sidebar) 80%, transparent);
    --sidebar-90: color-mix(in srgb, var(--sidebar) 90%, transparent);
    --sidebar-foreground-10: color-mix(in srgb, var(--sidebar-foreground) 10%, transparent);
    --sidebar-foreground-20: color-mix(in srgb, var(--sidebar-foreground) 20%, transparent);
    --sidebar-foreground-30: color-mix(in srgb, var(--sidebar-foreground) 30%, transparent);
    --sidebar-foreground-40: color-mix(in srgb, var(--sidebar-foreground) 40%, transparent);
    --sidebar-foreground-50: color-mix(in srgb, var(--sidebar-foreground) 50%, transparent);
    --sidebar-foreground-60: color-mix(in srgb, var(--sidebar-foreground) 60%, transparent);
    --sidebar-foreground-70: color-mix(in srgb, var(--sidebar-foreground) 70%, transparent);
    --sidebar-foreground-80: color-mix(in srgb, var(--sidebar-foreground) 80%, transparent);
    --sidebar-foreground-90: color-mix(in srgb, var(--sidebar-foreground) 90%, transparent);
    --sidebar-primary-10: color-mix(in srgb, var(--sidebar-primary) 10%, transparent);
    --sidebar-primary-20: color-mix(in srgb, var(--sidebar-primary) 20%, transparent);
    --sidebar-primary-30: color-mix(in srgb, var(--sidebar-primary) 30%, transparent);
    --sidebar-primary-40: color-mix(in srgb, var(--sidebar-primary) 40%, transparent);
    --sidebar-primary-50: color-mix(in srgb, var(--sidebar-primary) 50%, transparent);
    --sidebar-primary-60: color-mix(in srgb, var(--sidebar-primary) 60%, transparent);
    --sidebar-primary-70: color-mix(in srgb, var(--sidebar-primary) 70%, transparent);
    --sidebar-primary-80: color-mix(in srgb, var(--sidebar-primary) 80%, transparent);
    --sidebar-primary-90: color-mix(in srgb, var(--sidebar-primary) 90%, transparent);
    --sidebar-primary-foreground-10: color-mix(in srgb, var(--sidebar-primary-foreground) 10%, transparent);
    --sidebar-primary-foreground-20: color-mix(in srgb, var(--sidebar-primary-foreground) 20%, transparent);
    --sidebar-primary-foreground-30: color-mix(in srgb, var(--sidebar-primary-foreground) 30%, transparent);
    --sidebar-primary-foreground-40: color-mix(in srgb, var(--sidebar-primary-foreground) 40%, transparent);
    --sidebar-primary-foreground-50: color-mix(in srgb, var(--sidebar-primary-foreground) 50%, transparent);
    --sidebar-primary-foreground-60: color-mix(in srgb, var(--sidebar-primary-foreground) 60%, transparent);
    --sidebar-primary-foreground-70: color-mix(in srgb, var(--sidebar-primary-foreground) 70%, transparent);
    --sidebar-primary-foreground-80: color-mix(in srgb, var(--sidebar-primary-foreground) 80%, transparent);
    --sidebar-primary-foreground-90: color-mix(in srgb, var(--sidebar-primary-foreground) 90%, transparent);
    --sidebar-accent-10: color-mix(in srgb, var(--sidebar-accent) 10%, transparent);
    --sidebar-accent-20: color-mix(in srgb, var(--sidebar-accent) 20%, transparent);
    --sidebar-accent-30: color-mix(in srgb, var(--sidebar-accent) 30%, transparent);
    --sidebar-accent-40: color-mix(in srgb, var(--sidebar-accent) 40%, transparent);
    --sidebar-accent-50: color-mix(in srgb, var(--sidebar-accent) 50%, transparent);
    --sidebar-accent-60: color-mix(in srgb, var(--sidebar-accent) 60%, transparent);
    --sidebar-accent-70: color-mix(in srgb, var(--sidebar-accent) 70%, transparent);
    --sidebar-accent-80: color-mix(in srgb, var(--sidebar-accent) 80%, transparent);
    --sidebar-accent-90: color-mix(in srgb, var(--sidebar-accent) 90%, transparent);
    --sidebar-accent-foreground-10: color-mix(in srgb, var(--sidebar-accent-foreground) 10%, transparent);
    --sidebar-accent-foreground-20: color-mix(in srgb, var(--sidebar-accent-foreground) 20%, transparent);
    --sidebar-accent-foreground-30: color-mix(in srgb, var(--sidebar-accent-foreground) 30%, transparent);
    --sidebar-accent-foreground-40: color-mix(in srgb, var(--sidebar-accent-foreground) 40%, transparent);
    --sidebar-accent-foreground-50: color-mix(in srgb, var(--sidebar-accent-foreground) 50%, transparent);
    --sidebar-accent-foreground-60: color-mix(in srgb, var(--sidebar-accent-foreground) 60%, transparent);
    --sidebar-accent-foreground-70: color-mix(in srgb, var(--sidebar-accent-foreground) 70%, transparent);
    --sidebar-accent-foreground-80: color-mix(in srgb, var(--sidebar-accent-foreground) 80%, transparent);
    --sidebar-accent-foreground-90: color-mix(in srgb, var(--sidebar-accent-foreground) 90%, transparent);
    --sidebar-border-10: color-mix(in srgb, var(--sidebar-border) 10%, transparent);
    --sidebar-border-20: color-mix(in srgb, var(--sidebar-border) 20%, transparent);
    --sidebar-border-30: color-mix(in srgb, var(--sidebar-border) 30%, transparent);
    --sidebar-border-40: color-mix(in srgb, var(--sidebar-border) 40%, transparent);
    --sidebar-border-50: color-mix(in srgb, var(--sidebar-border) 50%, transparent);
    --sidebar-border-60: color-mix(in srgb, var(--sidebar-border) 60%, transparent);
    --sidebar-border-70: color-mix(in srgb, var(--sidebar-border) 70%, transparent);
    --sidebar-border-80: color-mix(in srgb, var(--sidebar-border) 80%, transparent);
    --sidebar-border-90: color-mix(in srgb, var(--sidebar-border) 90%, transparent);
    --sidebar-ring-10: color-mix(in srgb, var(--sidebar-ring) 10%, transparent);
    --sidebar-ring-20: color-mix(in srgb, var(--sidebar-ring) 20%, transparent);
    --sidebar-ring-30: color-mix(in srgb, var(--sidebar-ring) 30%, transparent);
    --sidebar-ring-40: color-mix(in srgb, var(--sidebar-ring) 40%, transparent);
    --sidebar-ring-50: color-mix(in srgb, var(--sidebar-ring) 50%, transparent);
    --sidebar-ring-60: color-mix(in srgb, var(--sidebar-ring) 60%, transparent);
    --sidebar-ring-70: color-mix(in srgb, var(--sidebar-ring) 70%, transparent);
    --sidebar-ring-80: color-mix(in srgb, var(--sidebar-ring) 80%, transparent);
    --sidebar-ring-90: color-mix(in srgb, var(--sidebar-ring) 90%, transparent);
}